<script type="text/javascript">
  window.staticImages = {
    sportBnB: "<%= image_path('logo.png') %>"
  }
  <% if signed_in? %>
    window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  <% end %>
</script>


<div id="root">

</div>
