<script type="text/javascript">
  window.staticImages = {
    sportBnB: "<%= image_path('logo.svg') %>",
    shakin_it: "<%= image_path('Small-shakin-it.gif') %>",
    profilePic: "<%= image_path('profile-pic.png') %>",
  }
  <% if signed_in? %>
    window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  <% end %>
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQQc2QMAapDoKMJJOmGiZY6Jdw7cTbuxA&libraries=places"></script>

<div id="root">
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQQc2QMAapDoKMJJOmGiZY6Jdw7cTbuxA&libraries=places"></script>

</div>
