// Place all the styles related to the api/buddies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.buddies-index-main {
  width: 100%;
  height: 600px;
}

.buddies-index {
  background-image: image-url('test.png');
  background-size:100%;
  font-family: sans-serif;
  width: 100%;
  height: inherit;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.index-buddy-pic {
  height: 100px;
  width: 100px;
  object-fit: cover;
}


.index-buddy-content {
  display: inline-block;
  border-radius: 5px;
  width: 70%;
  align-items: center;
}

.index-ul {
  display: inline-block;
  align: center;
  color: #be95b7;
  width: 99%;
  padding: 10px;
}

.outer-index-item {
  display: flex;
  justify-content: center;
}
.index-item {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  opacity: 0.9;
  width: 60%;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
}

.index-buddy-title-cf {
  display: flex;
  justify-content: space-around;
}

.index-buddy-rate {
  color: black;
}

.index-achivement {
  border: 1px solid #be95b7;
  border-radius: 3px;
  font-weight: bolder;
  background: white;
  margin: 3px;
}
