// Place all the styles related to the api/buddies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.buddies-index-main {
  width: 100%;
  height: 100%;
}

.buddies-index {
  // background-image: image-url('test.png');
  // background-size:100%;
  // font-family: sans-serif;
  width: 100%;
  min-height: 640px;
  // background-repeat: no-repeat;
  // background-position: 0 0;
  background-size: cover;
  background-image: image-url('test.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.index-buddy-pic {
  height: 120px;
  width: 120px;
  object-fit: cover;
}



.index-buddy-content {
  display: inline-block;
  border-radius: 5px;
  width: 80%;
  align-items: center;
}

.index-ul {
  display: inline-block;
  align: center;
  color: #be95b7;
  width: 99%;
  padding: 10px;
}

.outer-index-item {
  display: flex;
  justify-content: center;
}
.index-item {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  opacity: 0.9;
  width: 60%;
  max-width: 666px;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
}

.index-buddy-title-cf {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  color: black;
  border-bottom: 1px solid black;
  padding: 10px;
}

.index-buddy-rate {
  color: black;
}

.index-item-button {
  display: flex;
  justify-content: center;
  width: 80%;
  font-size: 13px;
  max-height: 40px;
  background: #62406c;
  border: 1px #4b2a55;
  box-shadow: inset 0 0 0 1px #9c83a1;
  color: white;
  font-weight: 300;
  padding: 5px;
  margin: 4px;
  border-radius: 3px;
  text-decoration: none;
}


.index-achivement {
  // border: 1px solid #be95b7;
  // border-radius: 3px;
  // font-weight: bolder;
  background: white;
  margin: 3px;
  color: #46183e;
  font-weight: bolder;
  font-family: monospace;
  font-size: 17px;
}

.sport-buddy-item {
  font-size: 18px;
  font-family: monospace;
  border-radius: 3px;
  color: white;
  background-color: #906299;
  padding: 3px;
}
