a.button.yahoo, .button.yahoo, .button-delete-workouts {
    background: white;
    border: 1px #4b2a55;
    box-shadow: inset 0 0 0 1px #9c83a1;
    color: #4b2a55;
    font-size: 16px;
    font-weight: 300;
    padding: 5px;
    margin: 4px;
    border-radius: 3px;
    text-decoration: none;
}

a.button.yahoo:hover, .button.yahoo:hover, .button-delete-workouts:hover {
    background: #5f396a;
    background: -moz-linear-gradient(#5f396a, #be95b7);
    background: linear-gradient(#5f396a, #be95b7);
    border: 1px #4b2a55;
    border-bottom: 3px #4d2955;
    color: white;
  }

a.button.yahoo:active, .button.yahoo:active, {
    background: #5f396a;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#5f396a), to(#be95b7));
    background: -moz-linear-gradient(#5f396a, #be95b7);
    background: linear-gradient(#5f396a, #be95b7);
    border: solid 1px #4b2a55;
    box-shadow: inset 0 10px 15px 0 #4d2955; }

#close-modal {
  align-self: flex-end;
}


 // main page buttons
.button.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5e3f68;
  border: 1px white;
  box-shadow: inset 0 0 0 1px #9c83a1;
  color: white;
  font-size: 18px;
  font-weight: 300;
  width: 190px;
  height: 24px;
  padding: 10px;
  margin: 10px;
  border-radius: 7px;
  text-decoration: none;
}

.button.main:hover {
    background: white;
    border: 1px #4b2a55;
    border-bottom: 3px #4d2955;
    color: #5f396a;
  }

.button.main:active {
  background: #5f396a;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#5f396a), to(#be95b7));
  background: -moz-linear-gradient(#5f396a, #be95b7);
  background: linear-gradient(#5f396a, #be95b7);
  border: solid 1px #4b2a55;
  box-shadow: inset 0 10px 15px 0 #4d2955;
}

.dropbtn {
  // width: 80%;
  max-width: 670px;
}

.button-delete-workouts {
  font-size: 15px;
}
