a.button.yahoo, .button.yahoo, .index-item-button {
    background: white;
    border: 1px #4b2a55;
    box-shadow: inset 0 0 0 1px #9c83a1;
    color: #4b2a55;
    font-size: 18px;
    font-weight: 300;
    padding: 5px;
    margin: 4px;
    border-radius: 3px;
    text-decoration: none;
}

a.button.yahoo:hover, .button.yahoo:hover, .index-item-button {
    background: #5f396a;
    background: -moz-linear-gradient(#5f396a, #be95b7);
    background: linear-gradient(#5f396a, #be95b7);
    border: 1px #4b2a55;
    border-bottom: 3px #4d2955;
    color: white;
  }

a.button.yahoo:active, .button.yahoo:active, .index-item-button {
    background: #5f396a;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#5f396a), to(#be95b7));
    background: -moz-linear-gradient(#5f396a, #be95b7);
    background: linear-gradient(#5f396a, #be95b7);
    border: solid 1px #4b2a55;
    box-shadow: inset 0 10px 15px 0 #4d2955; }

#close-modal {
  align-self: flex-end;
}

.index-item-button {
  max-width: 70px;
  max-height: 35px;
  font-size: 70%;
}
