.filter-box {
  display: flex;
  justify-content: space-around;
  border: 2px solid #5f396a;
  border-radius: 5px;
  margin-bottom: 5px;
  padding-bottom: 4px;
  color: #5f396a;
  background-color: #f1ecf2;
}

.row {
  font-size: 16px;
}
