.header-class {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 88px;
}



.header-nav-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 87px;
}
