.header-class {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}



.header-nav-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 75px;
}
