#whole-main-page {
  background-image: image-url('back1.png');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 640px;
  width: 100%;
  border-radius: 2px;
}

.text-main-page {
  width: 90%;
  min-height: 64%;
  max-height: 90%;
  display: block;
}

.head-text-main-page {
  width: 100%;
  height: 114px;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 300;
  text-align: center;
}

.homepage-subtitle {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  font-family: sans-serif;
  font-weight: 300;
  text-align: center;
}
.inner-text-main-page {
  color: white
}

.pick-sport-buttons {
  height: 128px;
  max-height: 90%;
  // width: 71%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-pick-sport-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  max-width: 910px;
  // height: 120px;
}
