#whole-main-page {
  background-image: image-url('back1.png');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 640px;
  width: 100%;
}

.text-main-page {
  // width: 100%;
  // height: 114px;
  // display: flex;
  // justify-content: center;
}

.inner-text-main-page {
  // display: flex;
  // justify-content: center;
  // font-size: 18px;
  // border-radius: 5px;
  // width: 540px;
  // height: 250px;
  // border-radius: 5px;
  // opacity: 0.8;
  // background-color: #5f396a;
  // opacity: 0.4;
  // font-style: italic;
  // padding: 5px;
  // margin: 5px;
}

.inner-text-main-page {
  color: white
}
