.text-main-page {
  display: flex;
  justify-content: center;
  font-size: 18px;
  border: 1px solid grey;
  background-color: white;
  width: 540px;
  height: 250px;
  border-radius: 5px;
  opacity: 0.8;
  color: black;
}
