
#post-workout-modal {
  display: flex;
  justify-content: center;
 position: absolute;
 height:1500px;
 background-image: image-url('modal-create.png');
 // background-color:rgba(0,0,0,0.3);
 left: 0px;
 top: 0px;
 width:100%;
 background-size: cover;
 text-align:center;
 z-index: 1;
 // background-size:100%;
 background-repeat: no-repeat;
 background-attachment: fixed;
}

.content-post-workout-modal {
  display: flex;
  // align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  border: 1px solid grey;
  background-color: #e8e1ea;
  opacity: 0.9;
  border-radius: 8px;
  margin-top: 40px;
}

.form-content-modal {
  width: 90%;
  height: 80%;
  color: #4c1f6a;
}

.font-content-modal div {
  width: 80%;
}


.sport-modal-content, #address, .date-modal, #details {
  min-height: 40px;
  width: 100%;
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
}

#date-modal-id {
  font-size: 20px;
  border-radius: 5px;
}

#textarea-modal {
  width: 80%;
  height: 150px;
  font-size: 20px;
}

.closing-modal-button {
  display: flex;
  justify-content: flex-end;
}

.closing-modal-button button {
  background: #5e3f68;
  border: 1px white;
  box-shadow: inset 0 0 0 1px #9c83a1;
  color: white;
  font-size: 18px;
  font-weight: 300;
  width: 50px;
  height: 38px;
  padding: 10px;
  margin: 10px;
  border-radius: 7px;
  text-decoration: none;
}

.closing-modal-button button:hover {
    background: white;
    border: 1px #4b2a55;
    border-bottom: 3px #4d2955;
    color: #5f396a;
  }
